{% extends "base.html" %}

{% load static %}  

{% block style %}
<style>
    .player__name-image {
        width: 4.1rem;
        margin: .5rem 1.5rem;
    }
    
    img {
        opacity: 1;
        transition: opacity .35s ease-in-out,transform .2s;
        position: relative;
    }
</style>
{% endblock %}
{% block content %}

<div class="content-wrapper" style="min-height: 1078.08px;">
    {% include "snippets/low_nav.html" %}
    <div class="content"style="width:100%; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0,  0.5)), url('{% static 'img/lg.jpg' %}'); background-size:cover;">
        <div class="container">
            <section id="content" class="content text-light">   
                
                <div class="row featurette mb-2" style="margin-top: 80px;"> 
                    <div class="col-md-7">
                        <h2 class="featurette-heading h1 fw-bold">Clubs</h2>
                        
                    </div>

                    <div class="table-responsive mt-5 bg-light mb-4">
                        <table class="table table-sm">
                          <thead class="mb-4">
                            <tr>
                              <th class="me-3">Id</th>
                              <th>Club</th>

                            </tr>
                          </thead>
                          <tbody class="fs-6">
                            {% for club in objects %}
                            <tr class="border-bottom p-3 py-5 align-items-center align-self-center">
                                <td>{{club.id}}</td>
                                <td>
                                    <a href="#" class="player__name nav-link">
                                        <img class="img player__name-image" data-club="{{club.code}}" data-size="40x40" src="https://resources.premierleague.com/premierleague/badges/50/t{{club.code}}.png" alt="Photo for {{club.name}}" onerror="setDefaultImage({{club.code}});">
                                        {{club.name}}
                                    </a> 
                                </td>
                                
                            </tr>
                            {% endfor %}
                           
                          </tbody>
                        </table>

                        
                    </div>
                    {% include "snippets/paginator.html" %}

                </div>
            </section>
        </div>
    </div>

</div>
</div>

<script>
    function setDefaultImage(id) {
        let imgEl = document.querySelector(`[data-club="${id}"]`)
        imgEl.src = 'https://resources.premierleague.com/premierleague/photos/players/40x40/Photo-Missing.png';
        
    }
  </script>

{% endblock content %}