<div class="nav-scroller py-1 bg-primary">
    <nav class="nav d-flex justify-content-between p-1 fw-bold h5">
        <a class="p-2 nav-link text-light" href="{% url "club_list" %}">Club</a>
        <a class="p-2 nav-link text-light" href="{% url "player_list" %}">Players</a>
        {% if request.user.is_authenticated %}
        <a class="p-2 nav-link text-light" href="{% url "user:squad" %}">My Squad</a>
        {% endif %}
        <a class="p-2 nav-link text-light" href="#">More</a>
    </nav>
</div>