{% load custom_tags %}


{% if gkp %}

{% for player in gkp%}                                
    <div class="col player__name nav-link d-grid justify-content-center align-items-center">
        <img class="img player__name-image mx-auto" data-player="{{player.code}}" width="10" src="https://resources.premierleague.com/premierleague/photos/players/40x40/p{{player.code}}.png" alt="Photo for {{player.name}}" onerror="setDefaultImage({{player.code}});">
        <span class="mx-auto justify-self-center text-center">{{player.name |truncatewords:2}}</span>
        <span class="justify-items-center justify-self-center fw-bold fs-6 text-center">{{player.point}}</span>

    </div>

    {% if forloop.counter < 1 and forloop.last %}
    {% with count_gkp=1|sub:forloop.counter %}                                
    {% for i in "x"|rjust:count_gkp %}
        <div class="col player__name nav-link d-grid justify-content-center align-items-center">
            <img class="img player__name-image" data-player="" width="10" src="https://resources.premierleague.com/premierleague/photos/players/40x40/Photo-Missing.png" onerror="setDefaultImage(0);">
            
            <button data-player="gkp" class="btn btn-primary player p-1 mt-1" style="font-size: 10px;">add gkp</button>
        </div>
    {% endfor %}
    {% endwith %}

    {% endif %}
{% endfor %}

{% else %}
<div class="col player__name nav-link d-grid justify-content-center align-items-center">
    <img class="img player__name-image" data-player="" width="10" src="https://resources.premierleague.com/premierleague/photos/players/40x40/Photo-Missing.png" onerror="setDefaultImage(0);">
    
    <button data-player="gkp" class="btn btn-primary player p-1 mt-1" style="font-size: 10px;">add gkp</button>
</div>
{% endif %}