{% extends "base.html" %}

{% load static %}  
{% load custom_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}
{% block content %}

<div class="content-wrapper" style="min-height: 1078.08px;">
    {% include "snippets/low_nav.html" %}
    <div class="content"style="width:100%; background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0,  0.5)), url('{% static 'img/lg.jpg' %}'); background-size:cover;">
        <div class="container">
            <section id="content" class="content text-light">  
                <div id="error"></div> 
                <div>
                    <div class="mt-5 row">
                        <div class="col-md-6 container">
                          <div data-testid="pitch" class=" dEnEMP" width="100">

                                <div class="row">{% include "fantasy/snippets/gkp.html" %}</div>
                                <div class="row">{% include "fantasy/snippets/def.html" %}</div>
                                <div class="row">{% include "fantasy/snippets/mid.html" %}</div>
                                <div class="row">{% include "fantasy/snippets/fwd.html" %}</div>
                                
                            </div>  
                        </div>
                        
                        
                        <div class="col-md-5 mt-5 mt-md-0">
                            <div class="bg-light card">
                                <div class="card-body">
                                    <div class="card-content">
                                        
                                        <div class="table-responsive mt-3 bg-light mb-4">
                                            <table class="table table-sm">
                                              <thead class="mb-4">
                                                <tr>
                                                  <th class="">Players</th>
                                                  <th>Position</th>
                                                  <th>Club</th>
                                                  <th>Add</th>
                    
                                                </tr>
                                              </thead>
                                              <tbody class="" id="tbody">                                               
                                              </tbody>
                                            </table>

                                            <div class="d-flex flex-column m-auto pagination mt-5">
                                                <nav aria-label="Page navigation">
                                                    <ul id="pagination-ul" class="pagination pg-grey justify-content-center">
                                                        
                                                    </ul>
                                                </nav>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                     
            </section>
        </div>
    </div>

</div>
</div>

<script>

    window.addEventListener('load', ()=>{

        
        // Initial fetch and render
        renderModelList("/api/players/");
        let addPlayersBtn = document.querySelectorAll('.player')
        for (let i of addPlayersBtn){
            i.addEventListener('click', ()=>{
                let position = i.dataset.player
                let endpoint = `/api/${position}/players/`
                renderModelList(endpoint)
                
            })
        }

        function setDefaultImage(id) {
            let imgEl = document.querySelector(`[data-player="${id}"]`)
            imgEl.src = 'https://resources.premierleague.com/premierleague/photos/players/40x40/Photo-Missing.png';
            
        }
        
    })
</script>
<script src="{%static 'js/players.js'%}"></script>
<script src="{%static 'js/form-validation.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{% endblock content %}